/src/.vagrant/
/src/kubeconfig
/src/**/cloud-init.yaml
*img*
*.iso
.kube
.vscode
.env

/src/ansible/roles/linux-system-roles.timesync/
/src/ansible/playbooks/distros/
/src/ansible/playbooks/test.sh
/src/ansible/playbooks/test.yaml
.DS_Store