[exporting:global]
    enabled = no
    update every = 5

[mongodb:mongodb-connector]
    enabled = yes
    destination = mongodb://192.168.1.106:27017
    database = netdata
    collection = netdata_collection
    send configured labels = yes
    send automatic labels = no