[exporting:global]
    enabled = yes
    update every = 5

[mongodb:mongodb-connector]
    enabled = yes
    destination = mongodb://localhost:27017
    database = netdata
    collection = netdata_collection